div#chartcontainer {
    float: left;
    width: 800px;
}
div.content {
    width: 1100px;
    margin: auto;
}
div.container {
    width: 1140px;
}
div#treecontainer {
    float: left;
    width: 300px;
}

div#diacontainer{
    width: 1100px;
    display: inline-block;
}

div#top{
    width: 1000px;
    display: inline-block;
}

div#alert-bar{
    min-height: 55px;
    margin-bottom: 20px;
}

hr.topHR{
    margin: 3px;
}

div#chartdiv {
    margin-top: 0px;
    margin-left: 0px;
}

div#chartcontainer {
    margin-top: 0px;
    margin-left: 0px;
}

div#charttitle {
    width: 750px;
    margin: 0 0 0 30px;
    display: inline-block;
}
div#treeTitle {
    margin: 10px 0 0 0;
}
div#content {
    width: 1200px ;
    min-height:800px;
    margin-left: auto ;
    margin-right: auto ;
}

div#chartinfo {
    width: 800px;
    min-height: 250px;
    margin-top: 15px;
    float: left;
}

div#loading {
    position: absolute;
    z-index: 100;
    width: 800px;
    height: 824px;
    background-color: black;
    opacity: .3;
}

div#myGrid {
    width:800px;
    min-height:250px;
    padding: 5px 0 0 0;
}

div#topbar {
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    text-align:center
}

p#charttitletext {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

p.chartinformation {
    text-align: left;
    padding-left: 20;
}

div#firstvisit {
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    text-align:center;
}

div#sensorinfo {
    min-height:150px;
}

path {
    shape-rendering: crispEdges;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node rect.colorRect {
  fill-opacity: 1;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
line {
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

g.tick text {
  font-size: 10px;
}

g.axis line {
    stroke: lightgray;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.resize {
    stroke: black;
}

#chartinfo * {
    box-sizing: content-box;
}